@font-face {
  font-family: "iconfont"; /* Project id 2262535 */
  src: url('//at.alicdn.com/t/font_2262535_opuvt8ee73b.woff2?t=1620985530961') format('woff2'),
  url('//at.alicdn.com/t/font_2262535_opuvt8ee73b.woff?t=1620985530961') format('woff'),
  url('//at.alicdn.com/t/font_2262535_opuvt8ee73b.ttf?t=1620985530961') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun1:before {
  content: "\e625";
}

.icon-dakaiwenjian:before {
  content: "\e6fb";
}

.icon-github1:before {
  content: "\e773";
}

.icon-zuijinyuedu:before {
  content: "\e624";
}

.icon-liebiao:before {
  content: "\e657";
}

.icon-jsongeshihua:before {
  content: "\e61a";
}

.icon-yewushouce:before {
  content: "\e647";
}

.icon-tubiao-hanshu:before {
  content: "\e6fd";
}

.icon-ziyuan:before {
  content: "\e614";
}

.icon-guanyu:before {
  content: "\e611";
}

.icon-liebiao1:before {
  content: "\e612";
}

.icon-icon-:before {
  content: "\e615";
}

.icon-shujujiami:before {
  content: "\e65c";
}

.icon-peizhi:before {
  content: "\e617";
}

.icon-github:before {
  content: "\e64d";
}

.icon-yanjiubaogao:before {
  content: "\e7d6";
}

.icon-chuangkou:before {
  content: "\e619";
}

.icon-dilanxianxingiconyihuifu_huabanfuben:before {
  content: "\e623";
}

.icon-chuangjiangongzuo:before {
  content: "\e688";
}

.icon-apache:before {
  content: "\eb3d";
}

.icon-gongju:before {
  content: "\e65d";
}

.icon-banben:before {
  content: "\e637";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-yunhang1:before {
  content: "\e61e";
}

.icon-jar:before {
  content: "\e604";
}

.icon-ceshijihua:before {
  content: "\e67d";
}

.icon-JAR:before {
  content: "\e65f";
}

.icon-kongzhiqi:before {
  content: "\e64b";
}

.icon-duoxianchengzujian:before {
  content: "\e62f";
}

.icon-jinggao:before {
  content: "\e616";
}

.icon-jihua:before {
  content: "\e643";
}

.icon-gaojingrizhi90:before {
  content: "\e72a";
}

.icon-fuzhi:before {
  content: "\e607";
}

.icon-shanchu1:before {
  content: "\e8b6";
}

.icon-qingchu:before {
  content: "\e62b";
}

.icon-bianji:before {
  content: "\e621";
}

.icon-shanchu2:before {
  content: "\e61d";
}

.icon-hanshu:before {
  content: "\e6dc";
}

.icon-jianqie:before {
  content: "\e6f5";
}

.icon-ban:before {
  content: "\e66c";
}

.icon-shanchu3:before {
  content: "\e627";
}

.icon-tingzhi:before {
  content: "\e60c";
}

.icon-shanchu4:before {
  content: "\e714";
}

.icon-bangzhuzhongxin:before {
  content: "\e6e8";
}

.icon-zanting:before {
  content: "\e60f";
}

.icon-qiehuan:before {
  content: "\e622";
}

.icon-xinjian:before {
  content: "\e626";
}

.icon-gengxin_huaban:before {
  content: "\e628";
}

.icon-yunhang:before {
  content: "\e61c";
}

.icon-shanchu5:before {
  content: "\e610";
}

.icon-niantie:before {
  content: "\e631";
}

.icon-baocun:before {
  content: "\e60d";
}

.icon-chakan:before {
  content: "\e642";
}

.icon-peizhiguanli:before {
  content: "\e606";
}

.icon-xiangmuguanli:before {
  content: "\e613";
}

.icon-ceshi:before {
  content: "\e600";
}

.icon-ceshi1:before {
  content: "\e632";
}

.icon-ceshi2:before {
  content: "\e8ad";
}

.icon-wxbbaobiao:before {
  content: "\e618";
}

.icon-wxbgongju:before {
  content: "\e61b";
}

.icon-wxbzhuye:before {
  content: "\e61f";
}

.icon-wxbsousuotuiguang:before {
  content: "\e620";
}

.icon-_xiangmuguanli:before {
  content: "\e603";
}

.icon-_zuzhiguanli:before {
  content: "\e608";
}

.icon-_liuchengpeizhi:before {
  content: "\e609";
}

.icon-_renyuanguanli:before {
  content: "\e60a";
}

.icon-_jiaoseguanli:before {
  content: "\e60b";
}

.icon-icon-test:before {
  content: "\e63f";
}

.icon-icon-test1:before {
  content: "\e64a";
}

.icon-icon-test2:before {
  content: "\e64c";
}

.icon-icon-test3:before {
  content: "\e658";
}

.icon-icon-test4:before {
  content: "\e659";
}

.icon-icon-test5:before {
  content: "\e65a";
}

.icon-icon-test6:before {
  content: "\e65b";
}

.icon-icon-test7:before {
  content: "\e65e";
}

.icon-cut:before {
  content: "\e74b";
}

.icon-stop:before {
  content: "\e767";
}

.icon-suspended:before {
  content: "\e768";
}

.icon-robot:before {
  content: "\e7da";
}

.icon-browse:before {
  content: "\e666";
}

.icon-code:before {
  content: "\e667";
}

.icon-data-view:before {
  content: "\e66a";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-export:before {
  content: "\e66f";
}

.icon-edit:before {
  content: "\e670";
}

.icon-eye-close:before {
  content: "\e671";
}

.icon-error:before {
  content: "\e672";
}

.icon-hide:before {
  content: "\e673";
}

.icon-lock:before {
  content: "\e676";
}

.icon-menu:before {
  content: "\e677";
}

.icon-more:before {
  content: "\e679";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-user:before {
  content: "\e682";
}

.icon-notification-filling:before {
  content: "\e68b";
}

.icon-setting-filling:before {
  content: "\e68c";
}

.icon-pinglun:before {
  content: "\e601";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-shanchu:before {
  content: "\e605";
}

.icon-wode:before {
  content: "\e60e";
}
