$lineHeight: 32px;
$borderColor: #DCDFE6;

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/**
  布局通用样式
 */
.sugar-layout-wrap{
  padding: 5px;
}

.sugar-flex-row{
  display: flex; flex-flow: row nowrap;
}

.sugar-flex-col{
  display: flex; flex-flow: column nowrap;
}

// 系统行距
.sugar-line{
  line-height: 32px;
  height: 32px;
  font-weight: bold;
}

.sugar-normal-line{
  line-height: 32px;
  height: 32px;
  margin-bottom: 10px;
}

// 通用标签、输入框组合
.sugar-label-input{
  display: flex;
  flex-flow: row nowrap;

  .label{
    display: inline-block;
    width: fit-content;
    text-align: right;
    margin-right: 5px;
    white-space: nowrap;
  }

  .input{
    display: inline-block;
    flex-grow: 1;
  }
}


// 普通边框
.sugar-normal-border{
  border: 1px solid #DCDFE6; padding: 20px; border-radius: 2px;
}

/*******************************

el-XXX 全局样式覆盖

*******************************/

.confirm-btn{
  background: #FFFFFF !important;
  border-color: #DCDFE6 !important;
  color: #2c3e50 !important;
  &:hover{
    background: #2ebf91 !important;
  }
}

// 全局表头样式
.sugar-table-header{
  width: 100%;
  text-align: center;
}
// 全局表左右下边框
.sugar-table-3borders{
  border-left: 1px solid #DCDFE6;
  border-right: 1px solid #DCDFE6;
  border-bottom: 1px solid #DCDFE6;
}


// 全局对话框标题样式
.sugar-dialog-header{
  line-height: 18px;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  .logo{
    width: 32px;
    height: 16px;
    background: {
      image: url("../../assets/logo.svg");
      size: 32px 16px;
    }
  }

}

.sugar-dialog-body{
  max-height: 800px;
  overflow: auto;
}

// 全局带文字边框样式
.sugar-top-border{
  border-top: 1px solid $borderColor;
  padding-bottom: 30px;
}

.sugar-border-text{
  position: relative;
  top: -10px;
  left: 5px;
  background: #eef2f3;
  width: fit-content;
  white-space: nowrap;
  font-size: 12px;
}

// 全局过渡样式
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}